@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global defaults */
html, body {
  height: 100%;
  margin: 0;
}

/* Smooth scrolling for anchor navigation */
html {
  scroll-behavior: smooth;
}


