<footer class="text-white py-6 sm:py-8 md:py-10 mt-16 text-base sm:text-lg md:text-xl text-center">
  <p>
    Creado por 
    <span class="font-bold text-amarillo">©Jorge Escalona</span> | 
    Todos los derechos reservados  |
  </p>
</footer>
