---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="shortcut icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jorge Escalona</title>
	</head>
	<body>
		<div class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
		
		<slot />

	</body>
</html>
